<span class=copy>We'd scanned <b><TMPL_VAR name="comps"></b> comps with available resources. Now available <b><TMPL_VAR name="shares"></b> shares.</span><br>
<span class=copy>We found <b><TMPL_VAR name="total_files"></b> files and folders plus <b><TMPL_VAR name="mp3"></b> MP3 files with id3 tag's.</span><br>
<span class=copy>Summary size is <b><TMPL_VAR name="total_size"></b> bytes.</span>
